body {
  width: 100%;
  background-color: black;
}
.parent{
  display: flex;
  gap:30px;
  flex-wrap: wrap;
  height: 100vh;
  
  
}
.card{
  background: aliceblue;
  height:350px;
  width:300px;
  padding:30px;
  display: flex;
  flex-direction: column;
  border-radius: 20%;
  justify-content: space-between;
  align-items: center;
}
.top{
  justify-content:space-between;
  margin-bottom: 40px;


}
.top img{
  height:40px;
  width:40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid blueviolet;
  padding: 2px;
}
.top button{
  display:flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  gap : 3px;
}

.center h3{
  font-size:18px;
  font-weight: 500;
}
.center h2{
  font-size: 20px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 10px;
}

