body {
  width: 100%
}
.parent{
  padding: 20px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  height: 100vh;
  background-color: orchid;
}
.card{
  background: aliceblue;
  height:350px;
  width:300px;
  padding:30px;
  display: flex;
  flex-direction: column;
  border-radius: 20%;
  justify-content: space-between;
}
.top{
  
display: flex;
align-items: center;
  justify-content:space-between;
  margin-bottom: 40px;


}
.top img{
  height:40px;
  width:40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid blueviolet;
  padding: bottom 2px;
}
.top button{
  display:flex;
  align-items: center;
}
